@media screen and (min-width: 1000px) {
    .hero {
        position: relative;
        padding: 20px 0;
    }

    .data, .weather {
        padding: 2rem;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.562);
        border: 3px solid var(--red);
        border-radius: 4px;
        box-shadow: 7px 7px 20px black;
    }

    .data {
        top: 200px;
        left: 100px;
    }

    h2 {
        background-color: var(--green);
        border-radius: 2px;
        text-align: left;
        color: white;
        margin-bottom: 1rem;
        padding: 1rem 0 1rem 3rem;
        margin-left: -4rem;
    }

    .weather {
        bottom: -10px;
        right: 50px;
        display: block;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " 🌞";
    }
}